/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

/* universal */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}


/* Header Styles */
header {
    background-color: rgba(255, 144, 14, 0.1);
}

/* Nav-bar Styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 130px 102px 130px;
}

nav ul li {
    list-style: none;

}

nav ul {
    display: flex;
    gap: 50px;
}

/* banner styles */
.banner {
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 40px;
    color: #131313;
    margin-bottom: 20px;
}

.banner-description {
    font-weight: 400;
    font-size: 12px;
    color: #727272;
    margin-bottom: 20px;
    line-height: 20px;

}

.banner-btn,
.features-btn {
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    margin-bottom: 50px;
    width: 150px;
    height: 54px;
    font-weight: 500;
    font-size: 18px;
}

.banner img {
    width: 980px;
    margin-bottom: 40px;
    border-radius: 8px;

}

/* Feature Section Styles */

.features {
    display: flex;
    align-items: center;
    margin: 85px 150px;
    gap: 50px;

}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.container img {
    width: 250px;
    height: 250px;
}

.features-title {
    font-weight: 500;
    font-size: 40px;
    color: #727272;
    margin-bottom: 20px;
}

.black-text {
    font-weight: 700;
    font-size: 40px;
    color: #131313;
}

.orange-text {
    font-weight: 700;
    font-size: 40px;
    color: #FF900E;
}

.features-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
    margin-bottom: 25px;
}

.feature-list-title {
    font-weight: 700;
    font-size: 30px;
    border-left: solid #FF900E;
    padding-left: 20px;
    margin-bottom: 20px;

}

.feature-list-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
    margin-bottom: 20px;
}

.feature-list {
    display: flex;
    gap: 100px;
    margin: 100px 120px;

}

.feature-list img {
    width: 550px;
}

.feature {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
}

.feature-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}

.feature-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
}

.feature-btn {
    background-color: #FF900E;
    font-weight: 700;
    font-size: 37px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    padding: 28px;
    position: relative;
    bottom: 82px;
    left: -50px;
}

.btn-small-text {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

/* Fact section styles */

.facts-title {
    font-weight: 700;
    font-size: 33px;
    color: #131313;
    margin-bottom: 20px;
}

.facts-description {
    font-weight: 400;
    font-size: 13px;
    color: #727272;
    line-height: 20px;
    margin-bottom: 80px;

}

.facts-container {
    display: flex;
    justify-content: center;
    gap: 120px;


}

.facts {
    margin: 0 120px;
}

.facts-box {
    border: 1px solid #FF900E;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 140px;
    height: 140px;
    justify-content: center;
    border-radius: 8px;
    transition: transform 1s;
}

.facts-box:hover {
    transform: rotate(360deg);

    background-color: bisque;

}

.facts-box img {
    width: 35px;
    margin-bottom: 5px;
}

.box-title {
    font-weight: 600;
    font-size: 26px;
    color: #424242;
    margin-bottom: 5px;

}


.box-description {
    font-weight: 500;
    font-size: 13px;
    color: #727272;
}

/* Sponsor Section styles */

.sponsor {
    text-align: center;
    margin-top: 100px;
}

.sponsor-title {
    font-weight: 700;
    font-size: 33px;
    color: #131313;
    margin-bottom: 20px;
}

.sponsor-description {
    font-weight: 400;
    font-size: 13px;
    color: #727272;
    line-height: 20px;
    
}

.sponsor-container {
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    margin-top: 30px;
}

.sponsor-container img {
    width: 100px;
    filter: grayscale(100%);

}

/* Media Query */

@media screen and (max-width:576px) {

    /* Header Responsive */
    header {
        padding: 10px;
    }

    /* Nav-bar Responsive */
    nav,
    ul {

        align-items: flex-start;
        padding: 0px;

    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        align-items: flex-end;
    }

    /* Banner Responsive */
    .banner-description {
        padding: 0px 40px;
    }

    .banner img {
        width: 100%;
        height: 100%;
    }

    /* Feature Section Responsive */

    .container {
        gap: 8px;
    }

    .container img {
        width: 100%;
        height: 100%;
    }

    .features {
        flex-direction: column;
        margin: 40px 10px 0;

    }

    .features-details {
        text-align: center;
    }

    .feature-list {
        flex-direction: column;
        margin: 0 10px;
        gap: 0;
    }

    .feature-list img {
        width: 100%;
    }

    .feature-pic-bnt {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .feature-btn {
        position: static;
        margin-top: 20px;
    }

    /* Facts Section Responsive */

    .facts {
        text-align: center;
        margin-top: 50px;

    }

    .facts-container {
        flex-direction: column;
        align-items: center;
    }

    /* Sponsor Section Responsive */

    .sponsor-container {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .sponsor-description{
        margin: 10px;
    }

}